{% extends 'Base.twig' %}

{% block title %}La Prestation {{ nom }}{% endblock %}

{% block content %}
<html>
<body>
    <h1>Prestation : {{ nom }}</h1>
    <p>Description : {{ description }}</p>
    <p>Composition : {{ unite }}</p>
    <a href="{{ url }}">{{ url }}</a>
    <p>Prix : {{ tarif }}€</p>
    <img src='{{ img }}' alt="{{ img }}">
</body>
</html>
{% endblock %}