{% extends 'Base.twig' %}

{% block title %}Le coffret type {{ libelle }}{% endblock %}

{% block content %}
    <h1>le Coffret type {{ id }}</h1>
    <h2>{{ libelle }}</h2>
    <h3>{{ description }}</h3>
    <a href="{{ url_for('prestations_by_categorie', {'id': id}) }}">Prestations</a>
{% endblock %}